@use "sass:map";
// global.scss
@import "./theme.scss";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 8px;
  padding-bottom: 0px;
  background-color: map-get($theme-colors, "background");
  color: map-get($theme-colors, "text");
}

