@use "sass:map";
// theme.scss
$theme-colors: (
    "background": #181F25,
    "text": #FFFFFF,
    "primary": #7094B0,
    "secondary": #232D35
);

$info-colors: (
    "success": #009A6C,
    "error": crimson,
    "warning": orange
);

@font-face{
    font-family: 'kate';
    src: url('./fonts/Kate-Medium.eot') format('eot'),
         url('./fonts/fonts/Kate-Medium.eot?') format('eot'),
         url('./fonts/Kate-Medium.woff') format('woff'),
         url('./fonts/Kate-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'gotham';
    src: url('./fonts/Gotham-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}